@import "../imports";
@import "./FeaturesItem.scss";

#features-section {
  @include default_mp();
  @include background_gradient_dark();
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;

  @include responsive_mobile() {
    box-sizing: initial;
    height: 100%;
    padding: 4rem 0;
  }

  @include responsive_tablet() {
    box-sizing: initial;
    height: 100%;
    padding: 5rem 0;
  }

  @include responsive_tablet_portrait() {
    flex-direction: column;
    box-sizing: initial;
  }

  @include responsive_desktop() {
    flex-direction: column;
  }

  @include responsive_desktop_large() {
    flex-direction: column;
  }

  #help-title {
    @include section_title_spacing();
    display: flex;
    font-size: 1.6em;
    letter-spacing: 1px;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .features-container {
    display: flex;
    justify-content: center;

    .row {
      display: flex;
      justify-content: space-around;
      padding: 0 5rem;

      @include responsive_mobile() {
        display: block;
        padding: 0;
      }

      @include responsive_tablet() {
        display: block;
        padding: 0 7rem;
      }
      .col {
        justify-content: center;
        align-items: center;
        text-align: center;

        @include responsive_desktop() {
          width: 30rem;
        }

        @include responsive_desktop_large() {
          width: 30rem;
        }
      }
    }
  }
}
