@import "../imports";
@import "./FeaturesItem.scss";

#features-section {
  box-sizing: border-box;
  max-width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    letter-spacing: 2px;
    text-transform: uppercase;
    @include section_title_spacing();
  }

  .features-container {
    display: flex;
    flex-direction: column;
    width: 100%;

    @include responsive_desktop() {
      flex-direction: row;
    }

    @include responsive_desktop_large() {
      flex-direction: row;
    }
  }
}
