@import "../imports";

.features-item-container {
  align-self: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;

  @include responsive_mobile() {
    flex-direction: column;
  }

  .feat-item-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    .feat-item-title {
      display: flex;
      justify-content: center;
      padding-bottom: 2rem;
      letter-spacing: 3px;
      text-transform: uppercase;
    }

    /*  .feat-item-text {
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

        @include responsive_desktop() {
        max-width: 100%;
        padding: 0 2rem;
      }

        @include responsive_desktop_large() {
        max-width: 100%;
        padding: 0 2rem;
      }
    } */

    @include responsive_desktop() {
      padding: 2rem;
    }

    @include responsive_desktop_large() {
      padding: 2rem;
    }
  }
}
