@import "../imports";

#hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  /* box-sizing: border-box; */
  padding: 0;
  height: 800px;

  .landing {
    a {
      color: color(font);
      text-decoration: none;
      h1,
      h2 {
        text-transform: uppercase;
        padding: 1rem;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
      h1 {
        font-family: "Titillium Web", sans-serif;
        font-size: 3rem;
        letter-spacing: 4px;
      }

      h2 {
        letter-spacing: 2px;
      }
    }

    p {
      padding: 2rem 1rem;
    }
  }

  #main-image {
    /* position: absolute; */
    /*   left: 0;
    bottom: 0;

    width: 100%;
    right: 0; */
    /*  text-align: center;
    align-items: center;
    justify-content: center; */
    /*    display: relative; */
    height: 0;
    margin-bottom: 4rem;
    img {
      display: block;
      /* width: 20rem; */
      max-width: 100%;
      height: 150px;
      margin: auto;

      position: relative;
      bottom: -12rem;
      @include responsive_mobile() {
        bottom: -10rem;
      }
    }
  }
}
