@import "../_imports.scss";

.home-container {
  display: flex;
  flex-direction: column;
  position: relative;

  section {
    /* @include page_content; */
    height: calc(100vh - 10em);
    background: #17232b;

    &:nth-of-type(1) {
      @include hero_background();
      color: color(font);
    }
  }
}
