@import "./variables";

@mixin padding($top, $right, $bottom, $left) {
  padding: $top $right $bottom $left;
}

@mixin margin($top, $right, $bottom, $left) {
  margin: $top $right $bottom $left;
}

@mixin responsive_mobile {
  @media only screen and (max-width: 767px) {
    @content;
  }
}

@mixin responsive_tablet {
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    @content;
  }
}

@mixin responsive_desktop {
  @media only screen and (min-width: 1024px) and (max-width: 1919px) and (orientation: landscape) {
    @content;
  }
}

@mixin responsive_tablet_portrait {
  @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) {
    @content;
  }
}

@mixin responsive_desktop_large {
  @media only screen and (min-width: 1920px) {
    @content;
  }
}

@mixin page_content {
  padding: 5em 1em;

  @include responsive_tablet() {
    padding: 5em 5em;
  }
  @include responsive_tablet_portrait() {
    padding: 5em 10em;
  }
  @include responsive_desktop() {
    padding: 5em 10em;
  }
  @include responsive_desktop-large() {
    padding: 5em 20em;
  }
}

@mixin section_title_spacing() {
  padding: 1rem;
  margin: 1rem 0;
}

@mixin hero_background {
  @if $show-landing-hero {
    background: linear-gradient(
        180deg,
        rgba(2, 11, 16, 1) 0%,
        rgba(1, 27, 48, 0.7) 70%
      ),
      $landing-hero;
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
  }
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    height: 100%;
    z-index: 200;
    background: rgba(color(background), $background-opacity);
  }
}
