$colors: (
  font: rgba(255, 255, 252, 1),
  hover_color: rgb(27, 161, 214),
  background: rgb(43, 43, 48),
  background_blue: rgb(29, 68, 88),
  nav-bg-primary: rgba(21, 21, 21, 0.96),
  blue-primary: #14477a,
  background-secondary-gradient:
    linear-gradient(
      180deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 38%,
      rgba(226, 242, 254, 1) 100%
    ),
);

$landing-hero: url(../images/bg/landing-hero.jpg);
$show-landing-hero: true;
$background-opacity: 1;
